<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.PerfilNavClass(ViewContext)" id="perfil" asp-controller="GerenciarPerfilUsuario" asp-action="Perfil">Perfil</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-controller="GerenciarPerfilUsuario" asp-action="Email">Email</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.AlterarSenhaNavClass(ViewContext)" id="alterarsenha" asp-controller="GerenciarPerfilUsuario" asp-action="AlterarSenha">Senha</a></li>
</ul>
