<div class="row justify-content-center">
    <button type="button" class="btn btn-warning col-8 p-1 mb-1 text-dark text-center rounded position-absolute" style="bottom:2.5em;" data-toggle="modal" data-target="#filtroPeriodoModal">
        <div><strong>Período</strong></div>
        <div><span id="statusdatainicial">@Model.DataInicial.ToString("dd/MM/yyyy")</span> à <span id="statusdatafinal">@Model.DataFinal.ToString("dd/MM/yyyy")</span></div>
    </button>
</div>