<div id="mapadropdown" class="btn-group dropright position-absolute" style="top:1em;left:1em;">
    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Mapas
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="ShowLayer('HeatMap', LoadHeatMap)">Mapa de calor</a>
        <a class="dropdown-item" onclick="ShowLayer('ClusterMap', LoadClusterMap)">Mapa agrupado</a>
    </div>
</div>