@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gerencie seu perfil</h2>

<div>
    <h4>Altere seus dados de usuário</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
